@charset "UTF-8";

.no-js {
	display: none;
}

.opendoor {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.leftdoor {
	position: fixed;
	left: 0;
	overflow-x: hidden;
	width: 50%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	animation: dooranimation 1.8s ease-in-out both;
}

.rightdoor {
	position: fixed;
	right: 0;
	width: 50%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	animation: dooranimation 1.8s ease-in-out both;
}


@keyframes dooranimation {
	0% {
		width: 50%;
	}

	20% {
		width: 50%;
	}


	90% {
		width: 0;
	}

	100% {
		width: 0;
	}
}

.paymentnotlogo:hover{
	cursor: pointer;
}

#parkingResbg {
	position: fixed;
	width: 100%;
	z-index: -1;

}

#resbgImg {
	position: fixed;
	width: 1400px;
	height: 90%;
	left:14%;
	top:9%;
	filter: brightness(0.6);
	box-shadow: 0px 0px 5px rgb(192, 192, 192),
		/* 위 */
		0px 0px 5px rgb(192, 192, 192),
		/* 아래 */
		0px 0px 5px rgb(192, 192, 192),
		/* 왼쪽 */
		0px 0px 5px rgb(192, 192, 192);
	/* 오른쪽 */
	z-index: 1;
}

#parkingtable {
	/* 배경이미지 담고있는 테이블 */
	position: absolute;
	left: 12%;
	top: 9%;
	transform: scale(1);
	font-size: 25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.75);
	text-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.75);
	z-index: 2;
	animation: fadeinTable 1s ease-in both;
}

@keyframes fadeinTable {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.9;
	}
}

#viewselectGroup {
	position: fixed;
	width: 460px;
	height: 110px;
	left: 34.4%;
	top: 43.2%;
	opacity: 0;
	filter: brightness(2);
	box-shadow: 0px 0px 10px rgb(255, 255, 255),
		/* 위 */
		0px 0px 10px rgb(255, 255, 255),
		/* 아래 */
		0px 0px 10px rgb(255, 255, 255),
		/* 왼쪽 */
		0px 0px 10px rgb(255, 255, 255);
	/* 오른쪽 */
	background-image: url('../image/parkingres/resmapCar.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	animation: rotatediv both 2s;
	border-radius: 10px;
	z-index: 3;
}

#viewselectGroup>.viewselect {
	margin-top: 16%;
	font-weight: 400;
	font-size: 10px;
	opacity: 0;
	width: 80px;
	height: 30px;
}

#selectEv{
	border-color: aliceblue;
	color: rgb(0, 255, 255);
	margin-left:40px;
}

#selectAll{
	border-color: aliceblue;
	color: rgb(255, 255, 255);
	margin-left:72px;
}

#selectNm{
	border-color: aliceblue;
	color: rgb(255, 174, 23);
	margin-left:78px;
}

#realtimeseat {
	/* 실시간 차량 확인  */
	display: none;
	position: fixed;
	font-weight: 500;
	pointer-events: none;
	left: 36%;
	top: 44%;
	z-index: 3;
}

#evcarCount,
#nmcarCount {
	/* 실시간 전기차,일반차 좌석 텍스트 박스 */
	display: inline-block;
	width: 90px;
	height: 35px;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	background-color: rgb(0, 0, 0);
}

.btn {

	box-shadow: 1px 3px 0 rgb(0, 0, 0, 0.5);
}

.form-control {
	height: 26px;

}

.logo {
	color: black;
}

/* 마우스 클릭 방지 */
#prsLocation,
#prsArea,
#totaltime,
#price,
#chargepriceval,
#chargeLoc,
#chargeusePrice,
#chargeName,
#chargeType,
#chargeState,
#chargePrice,
#timePrice,
#carType {
	pointer-events: none;
}



/* 주차 아이콘 */
.carIconRed {
	background-image: url('../image/parkingres/carIconRed.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	opacity: 1;
	padding: 2px;
}

.carIconRedRotate {
	background-image: url('../image/parkingres/carIconRed_rotate.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	opacity: 1;
	padding: 2px;
}

.carIconGreen {
	background-image: url('../image/parkingres/carIconGreen.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	opacity: 1;
	padding: 2px;
}

.carIconGreenRotate {
	background-image: url('../image/parkingres/carIconGreen_rotate.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	opacity: 1;
	padding: 2px;
}

.carIconBlue {
	background-image: url('../image/parkingres/carIconBlue.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	opacity: 1;
	padding: 2px;
}

.carIconYellow {
	background-image: url('../image/parkingres/carIconYellow.png');
	pointer-events: none;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	opacity: 1;
	padding: 2px;
}

/* 버튼에 마우스올리면 자동차 이미지 hide  */
.carIconGreen:hover,
.carIconBlue:hover {
	background-image: none;
}

/* modalcss 기본 정렬  */
.modalcss {
	display: flex;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 25px;
}

.modalcss>.pricemodal {
	margin-left: 9%;
	border: 0;
	text-align: center;
	font-size: 14px;
	width: 46%;
}

.modalcss>#totaltime {
	margin-left: 9%;
	text-align: center;
	font-size: 14px;
	width: 46%;
	border: 0;
}

#prsLocation {
	margin-left: 25%;
	margin-right: 2%;
	font-weight: 900;
	width: 12%;
	border: 0;
	font-size: 11px;

}

#prsArea {
	width: 30%;
	border: 0;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

#startDate,
#endDate {
	text-align: center;
	margin-top: 10px;
	font-weight: 600;
	font-size: 14px;
	width: 30%;
	border: 1;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	margin-left: 7%;
}

#startTime,
#endTime {
	text-align: center;
	margin-top: 10px;
	margin-left: 3px;
	font-weight: 600;
	font-size: 14px;
	width: 24%;
	border: 1;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

#resreset {
	font-size: 10px;
	margin-left: 20px;
	border-color: darkred;
	color: crimson;
}

#Evchargeselect {
	font-size: 10px;
	margin-left: 4.7%;
	border-color: #09de48;
	color: #187a35;
}

#carType {
	border: 0;
	font-size: 10px;
	pointer-events: none;

}

.carType {
	animation: cartypeanimation 1s ease-out both;
}

@keyframes cartypeanimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


textarea {
	width: 100%;
	height: 100px;
	resize: none;
}

#gopayment,
#rescancel {
	width: 90px;
	align-items: center;
	font-size: 12px;
}


/* ---------------------- 충전기 아이콘 hover ------------------------------*/
#chargebtngroupA>.chargebtn:hover,
#chargebtngroupB1>.chargebtn:hover,
#chargebtngroupD2>.chargebtn:hover,
#chargebtngroupE>.chargebtn:hover {
	outline: 1px solid rgb(0, 255, 128);
	transform: scale(1.2);
}

.chargebtnborder {
	pointer-events: none;
}

/* ---------------------- 예약,충전기 버튼 모음(A) ------------------------------*/
#btngroupA {
	display: flex;
	position: fixed;
	left: 27.9%;
	top: 7.5%;
}

#btngroupA>.locbtn {
	display: flex;
	margin-right: 5.4px;
	font-size: 8px;
	width: 20px;
	height: 60px;
}

#chargebtngroupA {
	display: flex;
	position: fixed;
	left: 28%;
	top: 4.8%;
}

#chargebtngroupA>.chargebtn {
	display: inline-block;
	margin-right: 0.21em;
	width: 22px;
	height: 27px;
	filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}

/* ---------------------- 예약,충전기 버튼 모음(B1) ------------------------------*/
#btngroupB1 {
	display: flex;
	position: fixed;
	left: 10.8%;
	top: 22%;
}

#btngroupB1>.locbtn {
	display: flex;
	margin-right: 3.8px;
	font-size: 8px;
	width: 20px;
	height: 55px;

}

#chargebtngroupB1 {
	display: flex;
	position: fixed;
	left: 10.4%;
	top: 27%;
	z-index: 2;
}

#chargebtngroupB1>.chargebtn {
	display: flex;
	margin-left: 0.157em;
	width: 22px;
	height: 27px;
	filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}

/* ---------------------- 예약,충전기 버튼 모음(B2) ------------------------------*/
#btngroupB2 {
	display: flex;
	position: fixed;
	left: 10.7%;
	top: 29.1%;
}

#btngroupB2>.locbtn {
	display: flex;
	margin-right: 3.8px;
	font-size: 8px;
	width: 20px;
	height: 55px;
}

/* ---------------------- 예약,충전기 버튼 모음(C) ------------------------------*/
#btngroupC1 {
	display: flex;
	position: fixed;
	left: 8.3%;
	top: 43.5%;
}

#btngroupC1>.locbtn {
	display: flex;
	margin-right: 3.8px;
	width: 20px;
	height: 55px;

}

#btngroupC2 {
	display: flex;
	position: fixed;
	left: 8.3%;
	top: 50.8%;
}

#btngroupC2>.locbtn {
	display: flex;
	margin-right: 3.8px;
	font-size: 8px;
	width: 20px;
	height: 55px;
}

/* ---------------------- 예약,충전기 버튼 모음(D1) ------------------------------*/
#btngroupD1 {
	display: flex;
	position: fixed;
	left: 8.5%;
	top: 65.5%;
}

#btngroupD1>.locbtn {
	display: flex;
	margin-right: 3.4px;
	font-size: 8px;
	width: 20px;
	height: 55px;

}

/* ---------------------- 예약,충전기 버튼 모음(D2) ------------------------------*/
#btngroupD2 {
	display: flex;
	position: fixed;
	left: 10.7%;
	top: 72.5%;
}

#btngroupD2>.locbtn {
	display: flex;
	margin-right: 3.6px;
	font-size: 8px;
	width: 20px;
	height: 55px;

}

#chargebtngroupD2 {
	display: flex;
	position: fixed;
	left: 10.4%;
	top: 70.5%;
}

#chargebtngroupD2>.chargebtn {
	display: flex;
	margin-left: 3.8px;
	font-size: 8px;
	width: 22px;
	height: 27px;
	filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}

/* ---------------------- 예약,충전기 버튼 모음(E) ------------------------------*/
#btngroupE {
	display: flex;
	position: fixed;
	left: 7.9%;
	top: 87%;
}

#btngroupE>.locbtn {
	display: flex;
	margin-right: 3.4px;
	font-size: 8px;
	width: 20px;
	height: 55px;
}

#chargebtngroupE {
	display: flex;
	position: fixed;
	left: 7.5%;
	top: 91%;
}

#chargebtngroupE>.chargebtn {
	display: flex;
	margin-left: 3.4px;
	width: 22px;
	height: 27px;
	filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}

/* ---------------------- 예약,충전기 버튼 모음(F) ------------------------------*/
#btngroupF {
	position: fixed;
	left: 89%;
	top: 15%;
}

#btngroupF>.locbtn {
	margin-bottom: 5px;
	font-size: 8px;
	width: 55px;
	height: 20px;
}

/* ---------------------- 예약,충전기 버튼 정렬 ------------------------------*/
.btn.btn-outline-info,
.btn.btn-outline-warning,
.btn.btn-outline,
.btn.btn-outline-light {
	/* 버튼 안에 text 정렬 */
	padding: 10px 10px;
	/* 버튼 안의 패딩을 조절하여 버튼 크기 설정 */
	text-align: center;
	/* 텍스트를 가운데 정렬 */
	display: flex;
	/* 내부 요소를 가운데 정렬하기 위해 flex 사용 */
	justify-content: center;
	/* 수평 가운데 정렬 */
	align-items: center;
	/* 수직 가운데 정렬 */
	font-weight: 600;
	color: white;
	font-size: 0.5vw;
}

/* ---------------------- 충전기 사용 modal(예약화면) ------------------------------*/
.chargelogo {
	margin-left: 125px;
	font-size: 20px;
}

.UsechargeGroup {
	background-color: black;
	height: 350px;
	border-radius: 10px;
	margin: 20px;
}

#chargeModalTable>tbody>tr>th {
	text-align: center;
	font-size: 14px;
	color: aqua;
}

#chargeModalTable>tbody>tr>td>input {
	text-align: left;
	width: 170px;
	font-size: 12px;
	font-weight: 400;
	color: aqua;
	border: 0;
	background-color: #000;
}

#chargeModalTable>tbody>tr>td>select {
	text-align: center;
	width: 120px;
	font-size: 13px;
	font-weight: 400;
	color: aqua;
	border-radius: 3px;
	background-color: #000;
	border-color: azure;
}

.UsechargeInfo {
	display: flex;
	vertical-align: middle;
	transform: translate(10%, 50%);
	align-items: center;
	font-size: 13px;
	margin: 25px;
	color: aqua;
	text-shadow: 0 -20px 100px, 0 0 2px, 0 0 1em rgb(111, 213, 210), 0 0 0.5em rgb(111, 213, 210), 0 0 0.1em rgb(14, 165, 237), 0 5px 8px #000;

}


#UsechargeInfoText {
	transform: translate(12%, 0%);
	margin-top: 50px;
	font-size: 12px;
	color: red;
	z-index: 2;
}

#chargeinput,
#chargecancel {
	width: 90px;
	height: 30px;
}

/* ---------------------- 결제 진행중인 테이블 모달 ------------------------------*/
.paymentnotlogo {
	text-align: center;
	font-size: 22px;
}

#parkingListTable {
	align-items: center;
	vertical-align: middle;
	text-align: center;
	
}

#parkingListTable>tbody>tr>td>input {
	text-align: center;
	width: 15%;
	font-size: 11px;
	border: 0;
	pointer-events: none;
}

#pktypenmlabel {
	margin-left: 22%;
	margin-right: 10%;
}

#parkingrespriceInfo {
	font-size: 12px;
}

.star {
	color: red;
}

.sale {
	color: rgb(0, 149, 149);
}

#clock{
	position: absolute;
	left: 100px;
	top: 82px;	
}

.memberCheck {
  background-color: rgb(151, 203, 255); 
}